#features-menu li a.icon-leads span.icon {
  background:url(atrium_leads.png) no-repeat;
}

.feature .feature-atrium_leads {
  background:transparent url(leads-20x20.png) no-repeat;
}

span.feature-atrium_leads {
  background:url(leads-20x20.png) no-repeat !important;
}
